In [12]:
import pymongo
from pymongo import MongoClient
from pprint import pprint

In [8]:
try :
    client = MongoClient('mongodb://localhost:27017/')
    client.server_info()
except :
    print("connexion error")

try : 
    # connexion a la base de données
    db = client.transactions
    transaction = db.transaction

except :
    print("database introuvable")

In [5]:
# cmd
# mongoimport -d transactions -c transaction --drop --file "C:\Users\louis\Desktop\nosqll\json\transactions.json" --jsonArray

In [45]:
print(transaction.find())
for t in transaction.find() :
    pprint(t)

<pymongo.cursor.Cursor object at 0x000002107D6860D0>
{'Id': 102,
 'Name': 'Margaret',
 'Panier': [{'ItemId': 'a100', 'price': 200}, {'ItemId': 'a110', 'price': 210}],
 'Payment': {'Success': True, 'Total': 410, 'Type': 'Credit-Card'},
 'Subscriber': True,
 'TransactionId': 'tran3',
 '_id': ObjectId('600ffed65d085a959f9cae51')}
{'Id': 103,
 'Name': 'Dylan',
 'Note': 'Payment is Null',
 'Panier': [{'ItemId': 'a100', 'price': 200}, {'ItemId': 'a110', 'price': 210}],
 'Payment': None,
 'Subscriber': True,
 'TransactionId': 'tran4',
 '_id': ObjectId('600ffed65d085a959f9cae52')}
{'Id': 101,
 'Name': 'Tom',
 'Note': None,
 'Panier': [{'ItemId': 'a100', 'price': 200}, {'ItemId': 'a110', 'price': 210}],
 'Payment': {'Success': True, 'Total': 410, 'Type': 'Debit-Card'},
 'Subscriber': True,
 'TransactionId': 'tran2',
 '_id': ObjectId('600ffed65d085a959f9cae53')}
{'Id': 100,
 'Name': 'John',
 'Note': '1st Complete Record',
 'Panier': [{'ItemId': 'a100', 'price': 400}, {'ItemId': 'a110', 'price': 210}],
 'Payment': {'Success': True, 'Total': 410, 'Type': 'Credit-Card'},
 'Subscriber': True,
 'TransactionId': 'tran1',
 '_id': ObjectId('600ffed65d085a959f9cae54')}

In [43]:
# Q-1. Calculer le montant total des paiements ?
payment = { "$group" : {"_id" : None, "total" : { "$sum" : "$Payment.Total" }} }
tri = {"$sort" : {"total" : -1}}
transaction.aggregate( [payment, tri] )
for t in transaction.aggregate( [payment, tri] ):
    pprint(t)

{'_id': None, 'total': 1230}

In [44]:
# Q-2. Calculer le montant total par paiment ?
payment = { "$group" : {"_id" : "$Name", "total" : { "$sum" : "$Payment.Total" }} }
tri = {"$sort" : {"total" : -1}}
transaction.aggregate( [payment, tri] )
for t in transaction.aggregate( [payment, tri] ):
    pprint(t)

{'_id': 'Margaret', 'total': 410}
{'_id': 'John', 'total': 410}
{'_id': 'Tom', 'total': 410}
{'_id': 'Dylan', 'total': 0}

In [ ]:
# Q-3. Calculate total payments (Payment.Total) for each payment type (Payment.Type) ?

In [ ]:
# Q-4. Trouver l'Id le plus élevé.

In [36]:
# Q-5. Find the max price (Transaction.price) ?
eclater = { "$unwind" : '$Panier' }
maxPrice = { "$group" : {"_id" : None , "max_price" : { "$max" : "$Panier.price" }} }
tri = {"$sort" : {"max" : -1}}
for t in transaction.aggregate( [eclater, maxPrice, tri] ):
    pprint(t)

{'_id': None, 'max_price': 400}